@import './base.css';
@import './icons.css';
html,
body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}
#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.d-flex {
  display: flex;
}
.flex-direction-column {
  flex-direction: column;
}
.text-white {
  color: white;
}

.gap-4 {
  gap: 24px;
}
.gap-2 {
  gap: 8px;
}
.flex-direction-row {
  flex-direction: row;
}
.flex-justity-between {
  justify-content: space-between;
}
.flex-justity-around {
  justify-content: space-around;
}
.flex-justity-center {
  justify-content: center;
}
.flex-justity-end {
  justify-content: end;
}
.flex-direction-center {
  flex-direction: center;
}
.flex-align-center {
  align-items: center;
}
.flex-align-baseline {
  align-items: baseline;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-5 {
  flex: 5;
}
.flex-grow-1 {
  flex-grow: 1;
}
.relative {
  position: relative;
}
.ml-16 {
  margin-left: 16px;
}
.mr-16 {
  margin-right: 16px;
}
.pl-16 {
  padding-left: 16px;
}
.pl-8 {
  padding-left: 8px;
}
.pt-8 {
  padding-top: 8px;
}
.pt-16 {
  padding-top: 16px;
}
.pt-24 {
  padding-top: 24px;
}
.p-8 {
  padding: 8px;
}
.p-16 {
  padding: 16px;
}
.p-24 {
  padding: 24px;
}
.pl-24 {
  padding: 24px;
}
.pr-24 {
  padding: 24px;
}
.mt-3 {
  margin-top: 3px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-24 {
  margin-right: 24px;
}
